<header class="[ intro intro--bgcolored-dark ] [ pad-top-900 pad-bottom-max ]">
  <div class="[ inner-wrapper ] [ sf-flow ]">
    <div class="[ nav ] [ md:box-flex ] [ pad-top-500 ]">
      <div class="[ home__snippet home__snippet--center pad-bottom-500 ]">
        <h1 class="[ intro__heading intro__heading--center ] [ text-800 md:text-900 leading-tight pad-bottom-300 ] [ p-name ]">Get involved</h1>
        <p class="[ pad-bottom-500 text-500 ] [ p-name ]">
          GraphQL by PoP is open source software. Become involved with the community!
        </p>
        <p>
          <a class="[ button text-500 ]" href="https://github.com/getpop/graphql">Go to the repo</a>
        </p>
      </div>
      <div class="[ home__snippet md:width-third pad-bottom-500 pad-left-700 ]">
        <span class="[ home__logo ]" aria-hidden="true"><img src="/assets/github-logo.png"></span>
      </div>
    </div>
  </div>
</header>
