<header class="[ intro ] [ pad-top-900 pad-bottom-max ]">
  <div class="[ inner-wrapper ] [ sf-flow ]">
    <h1 class="[ intro__heading intro__heading--center ] [ pad-top-500 text-800 md:text-900 leading-tight ] [ p-name ]">Designed for optimal experience</h1>
    <div class="[ nav ] [ md:box-flex space-between bleed ]">
      <div class="[ home__snippet home__snippet--center pad-bottom-700 ]">
        <span class="[ emoji--8 ]" aria-hidden="true">🏎</span>
        <h3 class="[ home__snippet__heading ]">Fast</h3>
        <p>Queries are resolved in linear time on the number of types involved</p>
      </div>
      <div class="[ home__snippet home__snippet--center pad-bottom-700 pad-left-900 ]">
        <span class="[ emoji--8 ]" aria-hidden="true">🛴</span>
        <h3 class="[ home__snippet__heading ]">Simple</h3>
        <p>Resolvers deal with IDs (instead of objects), removing the need to implement batching/deferred</p>
      </div>
      <div class="[ home__snippet home__snippet--center pad-bottom-700 pad-left-900 ]">
        <span class="[ emoji--8 ]" aria-hidden="true">🚂</span>
        <h3 class="[ home__snippet__heading ]">Extensible</h3>
        <p>Types have their resolvers attached by injection, and resolvers can override each other</p>
      </div>
      <div class="[ home__snippet home__snippet--center pad-bottom-700 pad-left-900 ]">
        <span class="[ emoji--8 ]" aria-hidden="true">🚀</span>
        <h3 class="[ home__snippet__heading ]">Powerful</h3>
        <p>The engine is based on executing directives, allowing any type of custom functionality</p>
      </div>
    </div>
    <div class="[ home__snippet home__snippet--center pad-bottom-300 ]">
      <a class="[ button text-500 ]" href="/docs">Browse the docs</a>
    </div>
  </div>
</header>
