<header class="[ intro ] [ intro__colored ] [ pad-top-900 pad-bottom-max ]">
  <div class="[ inner-wrapper ] [ sf-flow ]">
    <h1 class="[ intro__heading{{ ' intro__heading--center' if page.url === '/' }} ] [ text-800 md:text-900 leading-tight ] [ p-name ]">CMS-agnostic GraphQL server in PHP</h1>
    <div class="[ nav ] [ box-flex align-center ]">
      <span class="[ home__logo ]" aria-hidden="true"><img src="/assets/graphql-logo-with-name-square.png"></span>
      <span class="[ home__logo ]" aria-hidden="true"><img src="/assets/php-elephant.png"></span>
    </div>
  </div>
</header>
