.intro {
  .bleed,
  .bleed + * {
    --flow-space: #{get-size('max')};
  }
  .bleed {
    width: 100vw;
    max-width: map-get($metrics, 'wrap-max-width');
    margin-left: 50%; /*changing this value to 47% removes the horizontal scrollbar once the viewport is < 930px */
    transform: translateX(
      -50%
    ); /* changing this value to 49% allows for the suggestion above to also eliminate the horizontal scroll. */
    position: relative;
  }

  &--colored {
    background: var(--color-theme-highlight-block);
  }

  &__summary {
    --flow-space: #{get-size(500)};
    font-size: get-size(500);

    a {
      color: currentColor;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &__heading {
    max-width: 52ex;
    color: var(--color-theme-feature-text);

    &--compact {
      max-width: 26ex;
    }
    &--center {
      text-align: center;
    }
  }

  .home__snippet {
    &--center {
      text-align: center;
    }
    >.emoji--8 {
      font-size: 8rem;
    }
  }
}
