.intro {
  &--colored {
    background: var(--color-theme-highlight-block);
  }

  &__summary {
    --flow-space: #{get-size(500)};
    font-size: get-size(500);

    a {
      color: currentColor;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &__heading {
    max-width: 52ex;
    color: var(--color-theme-feature-text);

    &--compact {
      max-width: 26ex;
    }
    &--center {
      text-align: center;
    }
  }

  .home__snippet {
    &--center {
      text-align: center;
    }
    >.emoji {
      font-size: 9rem;
    }
  }
}
