<footer role="contentinfo" class="[ site-foot ] [ pad-top-700 pad-bottom-900 ]">
  <div class="wrapper">
    <div class="[ site-foot__inner ] [ md:box-flex space-between align-start ]">
      {% if site.shortDesc %}
        <div>
          <a href="/" class="[ site-foot__site-logo ] [ leading-tight ]"{{ 'aria-current=page' if page.url == '/' | safe }}>
            <span class="visually-hidden">{{ 'Back to homepage' if page.url != '/' else 'Homepage' }}</span>
            <span class="[ site-foot__site-logo ]" aria-hidden="true"><img src="{{ site.squareLogoImgPath }}"></span>
          </a>
          <article class="[ site-foot__details ] [ sf-flow measure-compact ]">
            <h2 class="font-base text-600">{{ site.name }}</h2>
            {{ site.shortDesc | markdownFilter | safe }}
          </article>
        </div>
      {% endif %}
      <div>
        {% include "partials/components/nav.njk" %}
        <theme-toggle></theme-toggle>
      </div>
    </div>
  </div>
</footer>
