{% extends 'layouts/base.njk' %}
{% set pageType = 'Homepage' %}

{# Intro content #}
{% set introHeading = title %}
{% set introSummary %}
  {{ content | safe }}
{% endset %}

{# Post list content #}
{% set postListHeading = postsHeading %}
{% set postListItems = collections.postFeed %}

{# Archive link #}
{% if postListItems.length < collections.posts.length %} 
  {% set paginationNextText = archiveButtonText %}
  {% set paginationNextUrl = '/blog' %}
{% endif %}

{% block content %}
  <main id="main-content" tabindex="-1">
    {% include "partials/sections/home/logos.njk" %}
    <div id="features" tabindex="-1">
      {% include "partials/sections/home/features.njk" %}
    </div>
    <div id="flavours" tabindex="-1">
      {% include "partials/sections/home/flavours.njk" %}
    </div>
    <div id="superpowers" tabindex="-1">
      {% include "partials/sections/home/superpower.njk" %}
    </div>
    <div id="wordpress" tabindex="-1">
      {% include "partials/sections/home/wordpress.njk" %}
    </div>
    <div id="contribute" tabindex="-1">
      {% include "partials/sections/home/contribute.njk" %}
    </div>
    {% include "partials/components/post-list.njk" %}
    {% include "partials/components/pagination.njk" %}
  </main>
{% endblock %}
