:root
    --bgColor #b9d9ed
    --accentColor #ba1a40
    --darken10AccentColor darken(#ba1a40, 10)
    --borderColor #46768e
    --darken10BgColor darken(#b9d9ed, 10)
    --darken10BorderColor darken(#46768e, 10)
    --preTextColor white
    --navbarBorderColor darken(#b9d9ed, 5)
    --languageTextColor #f1f1f1
    --textColor #152028
    --navBgColor #0a3951
    --tableBorderColor darken(#46768e, 20)
    --actionBtnBgColor #bb4e58
    --alternateBgColor lighten(#b9d9ed, 10)
    @media (prefers-color-scheme: dark)
      --accentColor #df6c76
      --darken10AccentColor darken(#df6c76, 10)
      --bgColor: #0a3951
      --darken10BgColor darken(#0a3951, 10)
      --borderColor #fdfdfd
      --navbarBorderColor darken(#0a3951, 5)
      --darken10BorderColor darken(#fdfdfd, 10)
      --textColor white
      --navBgColor #051e28
      --tableBorderColor darken(#fdfdfd, 20)
      --alternateBgColor lighten(#0a3951, 10)

body
  font-family $secondaryFont !important

h1, h2, h3, h4, h5, h6
  font-family: $primaryFont, sans-serif

h1, h2, h3
  font-weight: 400 !important

/******************************
  HOME
*******************************/

.text-center {
  text-align: center;
}

.home
  h1
    text-align center
  img
    height: 15em
    width: 15em
  .hero
    .action-button
      // color #fff
      background-color var(--actionBtnBgColor) !important
      &:hover
        background-color var(--accentColor) !important
    .description
      color var(--lighten25TextColor) !important

/******************************
  HOME => FEATURES
*******************************/

.home
  .alternate-bg
    background-color var(--alternateBgColor)
  .features-wrapper
    box-shadow 0 2px 4px 0 var(--navbarBorderColor) !important
    text-align center
    padding 1.2rem 0
    margin-top 5rem
    margin-bottom 5rem
    border-top: 1px solid var(--borderColor);
  .compact
    padding 0
    border-top: 0
  .degrade
    background-image: linear-gradient(141deg, var(--bgColor) 0%, var(--alternateBgColor) 75%);
    opacity: 0.95;
  .bleed
    max-width: $metricWrapMaxWidth - 60px;
    >*
      padding-left 30px !important
      padding-right 30px !important
  .features
    border-top 0px !important;
  // .feature
    // flex-basis 100%
    // max-width 100%

.emoji--8
  font-size 8rem

@media (min-width 550px)
  .home
    .features-wrapper.flex-inline
      .features
        flex-direction row !important
      .feature
        flex-basis 47% !important
        max-width 47% !important
        padding 0 !important

@media (min-width $MQMobile)
  .home
    .features-wrapper.flex-inline
      .features
        flex-direction row
      .feature
        flex-basis 23% !important
        max-width 23% !important

/******************************
  HOME => queries
*******************************/
@media (min-width $MQMobile)
  .home
    .queries
      display flex
      flex-wrap wrap
      align-items flex-start
      align-content stretch
      justify-content space-between
    .query
      flex-grow 1
      flex-basis 47%
      max-width 47%

/******************************
  HOME => superpowers
*******************************/

.home 
  .superpowers
    padding-top 2.5rem
    // border-top 1px solid var(--borderColor)
    // text-align center
    img
      width: auto
      height: auto

/******************************
  BLEED
*******************************/

.bleed,
.bleed + * {
  --flow-space: $flowSpaceMax;
}
.bleed {
  width: 100vw;
  max-width: $metricWrapMaxWidth;
  margin-left: 50%; /*changing this value to 47% removes the horizontal scrollbar once the viewport is < 930px */
  margin-right: 50%;
  transform: translateX(
    -50%
  ); /* changing this value to 49% allows for the suggestion above to also eliminate the horizontal scroll. */
  position: relative;
}
      
/******************************
  SEARCH BOX
*******************************/

.search-box
  .suggestion
    &.focused
      background-color var(--darken10BgColor) !important

/******************************
  CODE
*******************************/

div[class~="language-graphql"]:before {
    content: "graphql";
}

pre,
pre[class*="language-"],
pre code[class*="language-"]
  // color: #EFEFEF
  background-color: $backgroundColor !important
  // border-radius: 0 !important

pre[class*="language-"] .token.attr-name,
pre code[class*="language-"] .token.attr-name
  color: #b2b7ff

pre[class*="language-"] .token.function,
pre code[class*="language-"] .token.function
  color: #d6bbfc

pre[class*="language-"] .token.string,
pre code[class*="language-"] .token.string
  color: #FFF

pre[class*="language-"] .token.comment,
pre code[class*="language-"] .token.comment
  color: slategray

/******************************
  HACK: Treat LESS as PQL (somewhat similar syntax)
*******************************/

div[class~="language-less"]:before {
    content: "pql";
}

/******************************
  PAGE
*******************************/

@media (min-width 719px)
  .page
    padding-left 17rem

/******************************
  NAVBAR
*******************************/

.navbar
  border-bottom none !important
  box-shadow 0 2px 4px 0 var(--navbarBorderColor) !important

.navbar .site-name
  font-weight 400 !important
  font-family: $primaryFont

.nav-link, .repo-link , .nav-links .dropdown-title
  font-weight 800 !important

@media (max-width: 719px)
  .navbar .home-link .can-hide
    display: inline-block !important

/******************************
  SIDEBAR
*******************************/

#app .sidebar
  width  17rem !important
  border-right none !important
  background-color var(--navBgColor) !important

 .sidebar-group:not(.collapsable) .sidebar-heading,
  .sidebar-heading
    text-transform uppercase !important
    letter-spacing 0.13rem !important
    font-size 12px !important
    font-weight 800 !important
    color #C1CDDB !important

  a.sidebar-link
    color #fff !important
    border-left 0.125rem solid transparent !important

  a.sidebar-link:hover
    color #fff !important
    opacity 0.5 !important
    border-left-color rgba(255, 255, 255, 0.7) !important

  a.sidebar-link:active
    color #fff !important
    opacity 0.7 !important
    border-left-color $accentColor !important

  a.sidebar-link.active
    color #fff !important
    border-left-color $accentColor !important

  @media (max-width 959px)
    .sidebar .nav-links
      border-bottom 2px solid rgba(255, 255, 255, 0.1)

  @media (max-width 719px)
    .nav-links a.nav-link, .nav-links a.repo-link, .nav-links .dropdown-title
      color #fff
