$accentColor = #df6c76
$borderColor = #fdfdfd
// $backgroundColor = #072b3d
$backgroundColor = #051e28
// $backgroundColor = #281215
$primaryFont = 'Noto Sans SC'
$secondaryFont = -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif

$homePageWidth = 740px
$metricWrapMaxWidth = 960px
$metricWrapInnerMaxWidth = 52rem
$metricMdBreakpoint = 48rem
$flowSpaceMax = 3rem